{% if not craft.users or craft.users.can('accessPlugin-gitplugin') %}

	<!-- Imports -->
	{% import "_includes/forms" as forms %}


	<!-- Assets -->

	{% includeCssResource 'gitplugins/css/widget.css' %}
	{% includeCssResource 'gitplugins/css/selectize.css' %}

	{% includeJsResource 'gitplugins/js/vendors/selectize-standalone-0.12.2.min.js' %}
	{% includeJsResource 'gitplugins/js/widget.js' %}


	<!-- Html -->
	<form method="post">
		<!-- Csrf -->
		{{ getCsrfInput() }}

		<!-- Hidden action input -->
		<input type="hidden" name="action" value="gitPlugins/get/getPlugin">

		<!-- Widget -->
		<div class="gitPlugins-widget">
			<div class="gitPlugins-widget__input">
				<!-- <input type="url" name="url" value="" placeholder="Github Url" id="url" class="text fullwidth gitPlugins-widget__input__txt"> -->
				<select name="gitplugins-url" id="gitplugins-url" class="selectized repositories" placeholder="Add Github Urls"></select>
			</div>
			<div class="gitPlugins-widget__action">
				<button class="btn center gitPlugins-widget__action__btn" type="submit" data-icon="download">
					Get
				</button>
			</div>
		</div>
	</form>
{% else %}
	You don't have permission to access this plugin.
{% endif %}
