{% import "_includes/forms" as forms %}

{% if craft.users.can('accessPlugin-gitplugin') %}
<form method="post">
	{{ getCsrfInput() }}

	<!-- Url input -->
	<div class="input">
		<input type="url" name="url" value="https://github.com/engram-design/ImageResizer" placeholder="Github Url" id="url" class="text fullwidth">
	</div>

	<!-- Hidden action input -->
	<input type="hidden" name="action" value="gitPlugins/get/getPlugin">

	<button class="btn" type="submit" data-icon="download">
		Get
	</button>
</form>
{% else %}
	You don't have permission to access this plugin.
{% endif %}
